:root {
  --backgroundcolor: #f9d766;
  --stick: #ffa500;
  --hotpink: rgb(228, 140, 180, 0.6);
  --lightpink: rgb(228, 140, 180);
  --gray: rgba(0, 0, 0, 0.1);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: var(--backgroundcolor);
}

.candy__container {
  height: 250px;
  width: 170px;
  background-color: var(--hotpink);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: relative;
  z-index: 100;
}

.candy__top {
  position: absolute;
  top: 178px;
  background-color: var(--lightpink);
  height: 250px;
  width: 170px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  z-index: 1;
}

.candy__bubble {
  position: absolute;
  top: 55px;
  right: 22px;
  height: 30px;
  width: 50px;
  background-color: var(--lightpink);
  border-radius: 50%;
  transform: rotate(60deg);
}

.candy__stick {
  height: 110px;
  width: 40px;
  background-color: var(--stick);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.candy__shadow {
  background-color: var(--gray);
  height: 10px;
  width: 100%;
}
