body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffa500;
}

.candy__container {
  height: 100px;
  width: 100px;
  background-color: red;
}
